<h1>Pages#contact</h1>
<p><%= number_to_phone "88888888" %></p>
<p><%= number_to_currency(150000) %></p>
<p><%= number_to_percentage(80.24398923423, precision: 1) %></p>
<p><%= number_with_delimiter "612941809289236437269" %></p>
